body {
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.portfolio-item {
  margin:20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 300px;
  width: 300px;
}

footer {
  margin: 50px 0;
}

.portfolio-item > p, h3 {
  text-align: center;
}

.circle-image{
    width:300px;
    height:300px;
    border-radius:50%;
    margin: auto;
}

.wrapper {
  margin:auto;
  display: flex;
  margin: auto;
}

.container.wrapper {
  flex-direction: column;
}

h1.text-center {
  margin-bottom: 25px;
}


